# - Suppress formatting temporarily
# - G4Lend imports upstream GIDI+ code which we do not want to touch.
#    Once this and the Geant4 interface are more cleanly separated by
#    directory, we can move this file to a more specific location.
DisableFormat: true
