---
# Minimal set of checks for Geant4
# - Full list at https://clang.llvm.org/extra/clang-tidy/checks/list.html
Checks: "-*, \
readability-braces-around-statements, \
readability-container-size-empty, \
readability-delete-null-pointer, \
readability-implicit-bool-conversion, \
readability-isolate-declaration, \
readability-simplify-boolean-expr, \
readability-string-compare, \
readability-uniqueptr-delete-release, \
modernize-make-shared, \
modernize-make-unique, \
modernize-redundant-void-arg, \
modernize-use-equals-default, \
modernize-use-nullptr, \
modernize-use-auto, \
modernize-use-using"
WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle:     file
CheckOptions:
  - key:             modernize-use-auto.MinTypeNameLength
    value:           '11'
  - key:             modernize-use-auto.RemoveStars
    value:           '0'
  - key:             modernize-use-nullptr.NullMacros
    value:           'NULL'
  - key:             modernize-use-using.IgnoreMacros
    value:           '1'
...
