# Override ghostflow-director checks of max size for specific reference files
# A VERY good reason is needed to override the max file size check and this
# file MUST NOT be edited/changed without first consulting the Software Management
# Working Group. Failure to do this may result in a general repository cleanup
# being required and consequent disruption to the work of the collaboration.

# This file is marginally above the threshold and is not expected to change
examples/advanced/nanobeam/OM50.grid hooks-max-size=1300547

# These files are marginally above the threshold and are unchanging references
tests/ctests_integration/test202/OGLIX-reference/visTest-BeamOn_0.eps hooks-max-size=1307525
tests/ctests_integration/test202/OGLIX-reference/visTest-VisAdd_0.eps hooks-max-size=1150689
tests/ctests_integration/test202/OGLIX-reference/visTest-VisSet_0.eps hooks-max-size=1344480
